body{
    background: linear-gradient(to bottom right, #33ccff 24%, #33cc33 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.heading {
    text-align: center;
    font-size: 45px;
    margin: 50px;    
}
#form {
    background-color: white;
    width: 500px;
    height: max-content;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: center;
    padding: 30px;
    margin-top: 60px;
    margin-left: 570px;
}   
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-size: 18px;
    padding: 10px;
    display: block;
    width: 95%;
}
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;   
        }
button {
    background-color: lightseagreen;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 25px;
    display: block;
    width: max-content;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 170px;
}